.link {
  display: inline;
  width: 100%;
  height: 100%;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.link2 {
  display: inline;
  width: 100%;
  height: 100%;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.clicked {
  text-decoration: none;
  color: black;
}

.clicked:hover {
  background-color: pink;
}

.ui-accordion .ui-accordion-content {
  padding: 0px;
}

.ui-accordion .ui-accordion-header {
  padding-left: 2em;
}

.ui-helper-reset {
  font-size: 95%;
}

table.KeyTable td.focus {
  border: 1px solid #3366FF;
}

table.display thead th {
  padding: 3px 0px 3px 3px  
}

.more {
  display: inline;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: violet;
}

.filter {
  border-top: rgb(170, 170, 170) 1px solid;
  padding: 10px;
}

.hidden {
  display: none;
}

#sidebar {
  width: 240px;
}

.table {
  padding-left: 240px;
  top: 10px
}

.fixed {
  margin-left: 0px !important;
  position: fixed;
  top: 11px;
}

.fixed2 {
  width: 100%;
  position: fixed;
  top: 11px;
}


#back-top {
  position: fixed;
  bottom: 30px;
  margin-left: 40px;
  display: none;
}

#back-top a {
  width: 108px;
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb;
  /* background color transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  color: #000;
}
/* arrow icon (span tag) */
#back-top span {
  width: 108px;
  height: 108px;
  display: block;
  margin-bottom: 7px;
  background: #ddd url(up-arrow.png) no-repeat center center;
  /* rounded corners */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  /* background color transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover span {
  background-color: #777;
}