.link {
  display: inline;
  width: 100%;
  height: 100%;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.filter {
  border-top: rgb(170, 170, 170) 1px solid;
  padding: 10px;
}

.hidden {
  display: none;
}

#sidebar {
  width: 200px;
}


.fixed {
  margin-left: 0px !important;
  position: fixed;
  top: 0;
}

.fixed2 {
  width: 100%;
  position: fixed;
  top: 0;
}